:root {
  --primaryColor: #e14984;
  --lightPrimaryColor: #efb1c9;
  --lightPurpleColor: #ead7f5;
  --primaryTextColor: #8a54a8;
  --primaryborderColor: #8a54a8;
  --secondaryTextColor: #e14984;
  --secondaryborderColor: #e14984;
  --whiteColor: #ffffff;
  --darkColor: #000000;
  --textContentMuted: #5f6368;
  --successColor: #169a36;
  --darkGreenColor: #147e2f;
  --darkGreyColor: #5f6368;
  --orangeColor: #eba123;
  --dangerColor: #d11e3c;
  --darkRedColor: #af1b33;
  --secondaryHeaderColor: #efb1c9;
  --lightgreenColor: #ace7ba;
  --lightgrayColor: #f0f0f0;
  --mediumGrayColor: #cdcdcd;
}
