.cat-grid {
  tbody {
    th{
      font-weight: 400;
    }
    td {
      &.bagde-sing{
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          border: 5px solid green;
          border-right: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
      }
      white-space: nowrap;
      &.border-box{
        border: 1px solid #000 !important ;
      }
      &.border-box-right{
        border-right: 1px solid #000 !important ;
      }
      span {
        float: right;
      }
    }
  }
}
